{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %}
{% block content %}

<div class="container-fluid jumbo-bckgrd">
  <div class=" jumbotron text-center jumbo-textbckgrd ">
    <h1 class="welcome-text">Welcome to Recipeze</h1>
    <p class="lead about-subhead ">
      Explore our collection of mouthwatering recipes from around the world.
    </p>
    {% if user.is_authenticated %}
    <a
      class="btn btn-primary btn-lg big-button"
      href="{% url 'recipe-list' %}"
      role="button"
      >Explore Recipes!</a
    >
    {% else %}
    <a
      class="btn btn-primary btn-lg"
      href="{% url 'account_signup' %}"
      role="button"
      >Sign Up!</a
    >
    {% endif %}
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2 id="about-text">About Us</h2>
        <div class="menu-text">
          <p class="menu-text text-center p-2">
            <span class="d-block mb-3"
              >Welcome to our recipe sharing hub! Discover a world of
              inspiration crafted by passionate cooks like you.</span
            >
            <span class="d-block mb-3"
              >Find, save, and share delicious recipes that bring joy to your
              table.</span
            >
            <span class="d-block mb-3"
              >Join our community and let's explore the art of cooking
              together!</span
            >
          </p>
        </div>
        <img
          class="img-fluid"
          src="static/images/love-n.png"
          alt="love-cooking"
        />
        <hr class="d-md-none" />
      </div>
      <div class="col-md-6 text-center">
        <h2 id="contact-text">Contact Us</h2>
        <div class="menu-text">
          <p class="menu-text text-center p-2">
            <span class="d-block mb-3">Email: contact@recipeze.com</span>
            <span class="d-block mb-3">Phone: 123-456-7890</span>
          </p>
          <img
            class="menu-img img-fluid"
            src="../static/images/cookbook.jpg"
            alt="love-cooking"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
