:root {

    /* Colours */
    --platinum: #e1e6e1;
    --tomato: #f85a3e;
    --orange: #ff7733;
    --cinnabar: #e15634;
    --vermillion: #e63b2e;
    --coral: #fc7a57;
    --butterscotch: #df9a57;
    --white: #fff;
    
    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

* {
  margin: 0px;
  padding: 0px;
}

main {
  flex: 1 0 auto;
  padding-bottom: 60px; 
}

.container-fluid {
  padding: 0;
}

html, body {
  min-height: 100vh;
  padding-bottom: 30px;
    background-color:#FFF8E8;
}

/* navbar */
.navbar {
    background-color: transparent;
}


/* Footer styling */

.footer {
    /* background-color: #A48E65; */
    background-color: #402E32;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 20px 0;
}

.footer a {
    font-size: 2rem;
    color: #DDBA73;
}

/* signup form */

.form-text ul li {
    list-style: none;
}

/* List View */

.card {
    transition: transform 0.3s;
  }
  
.card:hover {
    transform: translateY(-5px);
  }
  
.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
.pagination {
    margin-top: 20px;
  }


  /* home page  */

  .jumbotron {
    background-image: url("../images/recipe-background.jpg");
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    margin-bottom: 0;
  }

  .btn-primary {
      background-color: #ff7f50;
      border-color: #ff7f50; 
  }

  .btn-primary:hover
  .btn-primary:active {
      background-color: #ff6347; 
      border-color: #ff6347;
  }
