{% load static %}

<footer class="footer mt-5 py-3 bg-light">
    <div class="container">
        <div class="text-center">
            <!-- Social Links -->
            <a href="#" class="me-3">a<i class="bi bi-facebook"></i></a>
            <a href="#" class="me-3">b<i class="bi bi-twitter"></i></a>
            <a href="#" class="me-3">c<i class="bi bi-instagram"></i></a>
            <a href="#" class="me-3">d<i class="bi bi-linkedin"></i></a>
        </div>
        <div class="text-center mt-2">
            <p>&copy; 2024 Recipeze. All rights reserved.</p>
        </div>
    </div>
</footer>