{% load static %}

<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="text-center">
            <!-- Social Links -->
            <a href="https://github.com/CiaranBrain" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
            <a href="https://en.wikipedia.org/wiki/Easter_egg_(media)#:~:text=In%20computing-,Software,otherwise%20serious%20piece%20of%20software." target="_blank" rel="noopener"><i class="fa-solid fa-egg"></i></a>
            <a href="https://www.linkedin.com/in/ciaranbrain/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#top"><i class="fa-regular fa-circle-up"></i></a>
        </div>
        <div class="text-center mt-auto">
            <p>&copy; 2024 Recipeze. All rights reserved.</p>
        </div>
    </div>
</footer>