{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add {% endblock %}

{% block content %}


<div class="recipe-form container mt-5">
  <form class="form p-4" method="POST" action="{% url 'add_recipe' %}">
      {% csrf_token %}
      <h2 class="mb-4 text-center">Add Recipe</h2>
      <div class="form-group">
          {{ form|crispy }}
      </div>
      <button class="btn btn-primary btn-block mb-2 " type="submit">Submit</button>
  </form>
</div>

{% endblock content %}
