{% extends 'base.html' %}
{% block title %}Edit Comment{% endblock %}

{% block content %}

<div class="container">
  <h2>Edit Recipe</h2>
  <form class="form p-2" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group">
        <label for="comment">Edit Comment:</label>
        <textarea class="form-control" id="comment" name="comment" rows="3">{{ comment.comment }}</textarea>
    </div>
      <button class="btn btn-primary w-25 mb-2" type="submit">Submit</button>
    </form>
  </div>
  </div>
{% endblock %}