{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Recipes {% endblock %}
{% block content %} 
{% for recipe in recipes %}
    
<div class="container">
  <h1>Recipes</h1>
  <div class="container recipe-box">
      {% if "placeholder" in recipe.recipe_image.url %}
      <img class="card-img-top" src="{% static 'images/test.jpg' %}"
        alt="placeholder">
      {% else %}
      <img class="card-img-top" src="{{ recipe.recipe_image.url }}"
        alt="{{ recipe.title }}">
      {% endif %}
    </div>
    <div>
  <li><h2>{{ recipe.title }}</h2></li>
      <li>{{ recipe.description }}</li>
      <li>{{ recipe.author }}</li>
      <li>{{ recipe.created_on }}</li>      
      </ul>
      <a class="btn btn-primary" href="{% url 'recipe_detail' recipe.id %}">see recipe</a>
</div>

{% endfor %}

    {% endblock %}
          
    






      
  
    

