{% extends "base.html" %}
{% load static %}
{% block title %}Recipes {% endblock %}
{% block content %} 

    <h1>Recipes</h1>
    
      {% for recipe in recipes %}
      <div class="container recipe-box">
      <ul>
        <li><img src="{% static 'images/test.jpg' %}" class="scale" alt="placeholder">
      </li>
      <li><h2>{{ recipe.title }}</h2></li>
      <li>{{ recipe.description }}</li>
      <li>{{ recipe.author }}</li>
      <li>{{ recipe.created_on }}</li>      
      </ul>
      <a href="{% url 'recipe_detail' recipe.id %}">see recipe</a>
      </div>
    {% endfor %}

    {% endblock %}
    
  </body>
</html>
