{% extends 'base.html' %} 
{% load static %} 
{% block title %} User Profile {%endblock %} 

{% block content %}

<div class="container">
  <div class="profile-card">
    <div class="text-center">
      <img src="{% static 'images/nobodyc.jpg' %}" alt="Profile Picture" class="profile-img">
    </div>
    <div class="text-center">
      <div class="profile-name">{{ user.username }}</div>
      <div class="profile-info">
        <p>Favourite Food:{{ user.profile.favourite_food }}</p>
        <p>Email: </p>
        <p>Age: 30</p>
      </div>
      <button class="btn btn-edit-profile">Edit Profile</button>
    </div>
  </div>
</div>

<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Favourite food: {{ user.UserProfile.favourite_food }}</li>
</ul>


  {% endblock content %}
